/* header */
.bt-header {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}

.bt-header h1 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 65px;
  color: var(--primary-color);
  line-height: 1;
}

.bt-header h2, button {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 22px;
}

.bt-header button {
  font-family: var(--secondary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 16px 55px;
  width: fit-content;
  border-radius: 48px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.bt-header button:hover {
  background-color:rgba(0, 0, 0, 0);
  color: var(--primary-color);
  outline: 2px solid ;
}

/* description */
.bt-description {
  margin: 40px auto;
  max-width: 85%;
}

.divided-list {
  display: flex;
  padding: 20px;
}

.divided-list ul {
  width: 50%;
  padding: 0 60px;
}

.divided-list li {
  padding: 0.5em;
}

/* content */
.video,
.images,
.carousel-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .bt-header * {
    margin: 18px 5px;
  }

  .bt-header h1 {
    font-size: 28px;
  }

  .bt-header h2 button {
    font-size: 18px;
  }

  .divided-list {
    display: block;
  }

  .divided-list ul {
    width: 100%;
  }
}

