.home-header {
  display: flex;
  height: 678px;
}

.left-div {
  width: 50%;
  margin: 2vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-div h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 4.5em;
  font-weight: 800;
  line-height: 1.15;
}

.left-div p {
  font-family: var(--secondary-font);
  font-size: 18px;
  padding-bottom: 1em;
}

.left-div span {
  padding-right: 8px;
}

.left-div li {
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 4px 0;
}

.right-div {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.header-portrait {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 800vw;
  height: auto;
}

.blue-shape {
  position: absolute;
  z-index: 1;
  background-image: var(--primary-gradient);
  width: 600px;
  height: 700px;
  border-radius: 59% 41% 36% 64% / 43% 27% 73% 57%  ;
}

@media screen and (min-width: 1081px) {
  .header-portrait {
    height: 676px;
  }
}

@media screen and (max-width: 768px) {
  .home-header{
    /* display: flex; */
    flex-direction: column;
    height: auto;
  }

  .left-div, .right-div {
    width: 100%;
    height: auto;

  }

  .header-portrait {
    position: relative;
    width: 60%;
    height: auto;
    align-items: center;
    z-index: 0;
  }

  .blue-shape {
    position: relative;
    width: 80%;
    height: auto;
  }
}