.home-skills {
  width: 100vw;
}

.skill-icon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.skill-icon-section > img {
  height: 100px;
  padding: 8px 16px;
}

.home-skills p {
  padding: 2vw 6vw;
}

.button-div {
  width: 100%;
  display: flex;
}

.blue-button {
  margin: 20px auto;
  align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 16px 55px;
  width: fit-content;
  border-radius: 48px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .skill-icon-section > img {
    height: 55px;
  }

  .home-skills p {
    padding: 24px 60px;
  }
}