.home-content {
  /* height: 768px; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-content h1 {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 800;
  line-height: 1.15;
  padding-top: 1em;
  z-index: 1;
}

.home-content img {
  margin: auto;
  width: 75%;
  z-index: 1;
  padding-bottom: 30px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right top, #0c4a6e, #006789, #008598, #00a29b, #23be93);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  width: 100vw;
  height: 400px;
}