.home-purpose {
  position: relative;
  height: 870px;
}

.half-circle-two {
  background-image: linear-gradient(to left top, #23be93, #00a29b, #008598, #006789, #0c4a6e);
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100% ;
  width: 100vw;
  height: 400px;
}

.home-purpose h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 2em;
  position: absolute;
  top: 180px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 40px;
  margin: var(--primary-margin);
  background-color: whitesmoke;
  border-radius: 20px;

}

.icon-circle {
  width: 160px;
  height: 160px;
    background-image: var(--primary-gradient);
  border-radius: 50%;
  position: relative;
}

.icon-circle span {
  /* color: var(--secondary-color); */
  color: white;
  font-size: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 14%;
}

.icon h2 {
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: 600;
  padding: 1em 0;
}

.icon p {
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.8;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .home-purpose {
    height: auto;
  }
  
  .half-circle-two {
    height: 180px;
  }

  .icon-section {
    position: relative;
    flex-wrap: wrap;
    top: 0;
    padding: 20px;
    gap: 20px;
  }

  .icon-circle {
    height: 80px;
    width: 80px;
  }

  .icon-circle span {
    font-size: 38px;
  }

  .icon {
    padding: 8px;
    margin: 8px;
  }

  .icon h2 {
    font-size: 20px;
    padding: 10px;
  }

  .icon p {
    font-size: 16px;
    padding: 0 4px;
    margin: 2px auto;
  }
}