/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* variables */
  --primary-color: #0C4A6E;
  --secondary-color: #E5E5E5;
  --tertiary-color: #23be93;
  --primary-font: "League Spartan", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  height: 100%;
  --primary-margin: 2vw 5vw;
  --primary-gradient: linear-gradient(to right top, #0c4a6e, #006789, #008598, #00a29b, #23be93);
}

body {
  overflow: auto;
  padding-top: 100px;
  /* margin: var(--primary-margin) */
  
}

h1, h3 { margin: 7px 0px 14px 0px; }

h1 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p, li {
  margin: 0;
  opacity: .9;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  font-family: var(--secondary-font);
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

/* navbar */
.navLi {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  width: fit-content;
}

.navLi a {
  text-decoration: none;
  color: var(--primary-color);
}

.navLi a:hover {
  color: var(--tertiary-color);
}

.nav-container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 2vw 5vw;
}

.nav-container img {
  width: 100px;
}

.nav-container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.nav-container li {
  margin-left: 25px;
}

.dropdown-content {
  background-color: white;
}

.dropdown-ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  opacity: 1;
}

.dropdown-ul li {
  /* margin: 6px 0; */
  background-color: white;
  text-align: left;
}

.dropdown-content li {
  margin: 6px;
  font-size: 25.6px;
}

.dropdown .dropbtn {
  font-family: inherit;
  font-weight: 600;
  background: none;
  border: none;
  color: var(--primary-color);
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  padding: 0;
}

.dropbtn:hover {
  color: var(--tertiary-color);
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  text-align: left;
}

.dropdown-content a {
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  padding: 12px;
  border-radius: 0 0 12px 12px;
}

.scrolled {
  background-color: white;
}


/* commonly used classes */
.full-screen-view {
  height: 100vh;
  overflow-y: auto;
}

.heading-primary, .heading-secondary {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 4em;
  font-weight: 800;
  line-height: 1.15;
  padding-top: 1em;
}

.heading-primary {
  color: var(--primary-color);
}

.heading-secondary {
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  h1,
  .heading-primary,
  .heading-secondary {
    font-size: 35px;
  }
  p, li {
    font-size: 16px;
  }
}
